extends layout

block content
  .container
    .header
      a.title(href='/')=header.title
      //Стоит заглушка на регистрацию
      a.button.small-button.button-left(href='#')=header.button2
      //Стартовой страницей является вход
      a.button.small-button.button-right(href='/')=header.button1
    form.entry
      p.main-text Enter your login and password
      p.main-text Login
      input#input-login(type="text")
      p.main-text Password
      input#input-password(type="password")
      input.button.big-button(type="submit" value="Submit")
      input.button.big-button(type="reset" value="Reset")
    .clr
