extends layout

block content
  .container
    .header
      a.title(href='/')=header.title
      //Стоит заглушка на регистрацию
      a.button.small-button.button-left(href='#')=header.button2
      //Стартовой страницей является вход
      a.button.small-button.button-right(href='/')=header.button1
    form.entry.entrance-form(method='POST' action='')
      p.main-text Enter your login and password
      label.main-text(for='input-login') Login
      input#input-login(type="text" name="login")
      label.main-text(for='input-password') Password
      input#input-password(type="password" name="password")
      input.button.big-button(type="submit" value="Submit")
      input.button.big-button(type="reset" value="Reset")
      if notFound
        p.main-text This user does not exist
      if errors
        ul
          for error in errors
            li!=error.msg
    .clr
