extends layout

block content
  form.entry
    p.main-text Enter your login and password
    p.main-text Login
    input#input-login(type="text")
    p.main-text Password
    input#input-password(type="password")
    input.button.big-button(type="submit")
    input.button.big-button(type="reset")
