doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      .header
        a.title(href='/') Vulnerability Service
        //Стоит заглушка на регистрацию
        a.button.small-button.button-left(href='#') Sign up
        //Стартовой страницей является вход
        a.button.small-button.button-right(href='/') Sign in
      block content
      .clr
    .footer
      p.creator Created by Vologzhanina Nataly

