extends layout

block content
    form.entry
        p.main-text Enter ip-address or domain name
        input#input-password(type="text")
        input.button.big-button(type="submit")
        .information-block
